<!--<app-server></app-server>-->
<!--<app-data-binding-test (SthCreated)="onSthCreated($event)"></app-data-binding-test>-->
<!--<app-service-and-di></app-service-and-di>-->
<div class="container" style="margin-top:50px;">
  <div class="row">
    <div class="col-md-2"><a class="btn btn-primary" style="width:100px;" routerLinkActive="actived" routerLink="/forms">forms</a></div>
    <div class="col-md-2"><a class="btn btn-warning" style="width:100px;" routerLinkActive="actived" [routerLinkActiveOptions]="{exact : true}" routerLink="/service">service</a></div>
    <div class="col-md-2"><a class="btn btn-default" style="width:100px;" routerLinkActive="actived" [routerLinkActiveOptions]="{exact : true}" routerLink="/binding">binding</a></div>
    <div class="col-md-2"><a class="btn btn-success" style="width:100px;" routerLinkActive="actived" [routerLinkActiveOptions]="{exact : true}" routerLink="/server">server</a></div>
    <div class="col-md-2"><a class="btn btn-danger" style="width:100px;" routerLinkActive="actived" [routerLinkActiveOptions]="{exact : true}" [routerLink]="['/routing']">routing</a></div>
  </div>
  <div class="row" style="margin-top:50px;border:2px solid #ddd;min-height:400px;border-radius:5px;">
    <router-outlet></router-outlet>
  </div>
</div>
